# Gradle wrapper files should be committed to version control
# gradle-wrapper.jar
# /gradlew
# /gradlew.bat

/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Firebase / Google Services (keep local-only)
/app/google-services.json

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
